<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>crawl web</title>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
 <div id="app">
 <div><span style="display: inline-block; background-color: #777; color:#ffffff; padding: 4px 8px; font-size: 12px;" v-for="item in websites" @click="setWebsite(item.website)"><% item.website %> (<% item.num %>)</span></div>
<br>
<br>
 <div><span style="display: inline-block; background-color: #999; color:#ffffff; padding: 4px 8px; font-size: 12px;" v-for="item in cats" @click="setCat(item.cat_id)"><% item.cat_name %> (<% item.num %>)</span></div>
 <script>
    var vm = new Vue({
      delimiters: ['<%', '%>'],
      el: '#app',
      data:{
        urls:{
          get_website:'/ajaxGetWebsite',
          get_cat:'/ajaxGetCat/%website'
        },
        websites:[],
        select_website:'',
        select_cat:'',
        cats:[]
      },
      mounted: function(){
        var _this = this;
        this.ajaxGet(this.urls.get_website,{}, function(data){
            _this.websites = data.result;
        })
      },
      methods: {
          setWebsite: function(website) {
              this.select_website = website;
              this.getCat(website);
          },
          setCat: function(cat) {
              this.select_cat = cat;
          },
          getCat: function(website) {
              var _this = this;
              this.ajaxGet(this.urls.get_cat.replace('%website', website),{}, function(data){
                  _this.cats = data.result;
              })
          },
          apiRequest: function(obj) {
              obj.data = (obj.data == undefined) ? {} : obj.data;
              var request_obj = {
                  url: obj.url,
                  type: obj.type,
                  dataType: 'json',
                  data:obj.data,
                  success: function (data) {
                      if (obj.origin_success != undefined) {
                          return obj.origin_success(data);
                      }
                      if (data.status == 'OK') {
                          if (obj.success != undefined) {
                              return obj.success(data);
                          }
                      } else if (data.status == 'FAIL') {
                          alert(data.msg);
                      }
                  },
                  error: function () {
                      alert('请求错误');
                  }
              };
              if (obj.type == 'POST') {
                  request_obj.data = JSON.stringify(obj.data);
                  request_obj.contentType = "application/json";
              }
              $.ajax(request_obj);
          },
          ajaxGet: function(url, params, callback) {
              this.apiRequest({
                url: url,
                type: 'GET',
                data:params,
                success: function (data) {
                    callback(data);
                }
              });
          },
          ajaxPost: function(url, params, callback) {
              this.apiRequest({
                url: url,
                type: 'POST',
                data:params,
                success: function (data) {
                    callback(data);
                }
              });
          }
      }
    })
  </script>
</body>
</html>